.places {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.places h1 {
  width: 100%;
  font-size: 30px;
}

article {
  width: 390px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  position: relative;
  z-index: -1;
}

.home h2 {
  font-size: 30px;
  text-align: center;
	margin-bottom: 50px;
}

.price_by_night {
  height: 60px;
  min-width: 60px;
  font-size: 30px;
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  border-radius: 100%;
  position: absolute;
  right: 5%;
  top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
}

.information {
  height: 80px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.information > * {
  width: 100px;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 10;
  text-align: center;
}

.max_guest {
  background-image: url(../images/people.png);
}

.number_bathrooms {
  background-image: url(../images/bed.png);
}
.number_rooms {
  background-image: url(../images/bathroom.png);
}

.tv {
  background-image: url(../images/tv.png);
}

.wifi {
  background-image: url(../images/wifi.png);
}

.pet {
  background-image: url(../images/pets.png);
}

.amenitiess {
  position: relative;
  margin-top: 40px;
}

.amenitiess h2 {
  margin: 0;
  font-size: 16px;
  display: flex;
  border-bottom: #dddddd 1px solid;
  padding-bottom: 10px;
}

.places ul {
  list-style: none;
  padding: 0px;
}

.amenitiess li {
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: left center;
  padding-left: 40px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.reviews {
  position: relative;
  margin-top: 40px;
}

.reviews h2 {
  font-size: 16px;
  border-bottom: #dddddd 1px solid;
  display: flex;
  padding-bottom: 10px;
}


.reviews ul li h3{
	font-size: 14px;
}

.reviews ul li p{
	font-size: 12px;
}
