.filters {
  color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  position: relative;
  display: flex;
}

.filters button {
  background-color: #ff5a5f;
  color: #ffffff;
  font-size: 18px;
  height: 48px;
  width: 20%;
  border-radius: 4px;
  border: none;
  align-self: center;
  position: absolute;
  right: 30px;
}

.filters button:hover {
  opacity: 90%;
}

.locations {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-right: 1px solid #dddddd;
}

.amenities {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

h3 {
  color: black;
  margin: 0;
  font-weight: 600;
}

h4 {
  color: black;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

.popover {
  display: none;
  background-color: #fafafa;
  position: absolute;
  top: 80%;
  width: 25%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.popover li {
  list-style: none;
  color: black;
}

.locations:hover .popover,
.amenities:hover .popover {
  display: block;
  cursor: pointer;
}

.locations .popover {
  padding-bottom: 2rem;
}

.amenities .popover {
  padding: 2rem 3rem;
}
